fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
alembic
pydantic
pydantic-settings
python-dotenv
supabase
python-multipart
python-jose[cryptography]
passlib[bcrypt]
httpx
redis
onnxruntime
psycopg[binary]